/* START BANNER */
.rs-banner {
  padding: 125px 0 425px;
  background-size: cover;
  background-position: center;
}

.container-nanner {
  display: flex;
  justify-content: center;
  margin: auto;
}

.banner-content {
  width: 50%;
  text-align: center !important;
}

h1 {
  text-transform: capitalize;
  line-height: 1.2;
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #fff;
}

.banner-text {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 51px;
  color: #505050;
}

.banner-btn {
  height: 28px;
}

.readon {
  border: 1px solid #ff5421;
  color: #ffffff;
  background: #ff5421;
  border-radius: 30px;
  padding: 16px 58px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
}

.banner-content .banner-btn a:hover {
  color: #fff;
  border: 1px solid #fd7e14;
  background-color: #fd7e14;
}

.readon {
  position: relative;
  animation-name: MoveUpDown;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

@media screen and (max-width: 1024px) {
  .banner-content {
    width: 60%;
  }
  h1 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  
  .banner-content {
    width: 70%;
  }

  h1 {
    font-size: 40px;
  }
}

@keyframes MoveUpDown {
  from {
    bottom: -50px;
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  to {
    bottom: 0px;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

h1 {
  position: relative;
  animation-name: MoveToRight;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes MoveToRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.banner-text {
  position: relative;
  animation-name: MoveToLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes MoveToLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Start About Dev Plus  */
.rs-about {
  padding-bottom: 100px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.row-a {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.row-about {
  width: 66.666666%;
}

.row-road {
  width: 33.333333%;
}

.row-about .about-part {
  background: #e7f4f6;
  padding: 60px 60px 70px;
  border-radius: 5px;
  margin-top: -60px;
}

.row-road .notice-bord {
  position: relative;
  margin-top: -60px;
  padding-right: 15px;
  padding-left: 15px;
}

.order-last {
  order: 6 !important;
}

.sec-title {
  margin-bottom: 47px;
}

.sub-title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-family: "Rubik", sans-serif;
  color: #226fb7;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  color: #111111;
  margin: 0 0 26px;
  line-height: 1.2;
}

.infor {
  font-size: 18px;
  line-height: 30px;
  color: #505050;
}

.notice-bord .title {
  background: #226fb7;
  font-size: 20px;
  text-transform: uppercase;
  padding: 18px 25px;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
  border-radius: 3px;
  line-height: 1.2;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.notice-bord li {
  position: relative;
  background: #e7f4f6;
  margin-bottom: 12px;
  border-radius: 3px;
  padding: 20px;
  padding-left: 0 !important;
  overflow: hidden;
}

.notice-bord li .date {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #226fb7;
  border-right: 1px solid #226fb7;
  padding-right: 10px;
  font-weight: 600;
  width: 60px;
}

.notice-bord li .date span {
  font-size: 22px;
  font-family: "Nunito", sans-serif;
  display: block;
}

.notice-bord li .desc {
  padding-left: 95px;
  font-weight: 500;
}

.notice-bord li:last-child {
  margin-bottom: 0;
}

/* animation di chuyển lên */
.moveUp {
  position: relative;
  visibility: visible;
  animation-duration: 3000ms;
  animation-delay: 500ms;
  animation-name: MoveToUp;
}

@keyframes MoveToUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@media only screen and (max-width: 991px) {
  .order-last {
    order: unset !important;
  }

  .row-a {
    display: block;
  }

  .row-road {
    width: 100%;
  }

  .row-about {
    width: 100%;
  }

  .row-road .notice-bord {
    margin-top: 80px;
    padding: 0;
  }

  .row-about .about-part {
    padding: 40px 30px 50px;
    margin-top: 80px;
  }
}
@media only screen and (max-width: 480px) {
  .readon {
    padding: 10px 30px !important;
    font-size: 15px;
  }
  .banner-content {
    padding: 125px 30px 0 30px;
  }
  .banner-content {
    width: unset;
  }
  .banner-title {
    font-size: 25px;
  }
  .banner-text {
    font-size: 18px;
  }
  .notice-bord li {
    padding: 30px;
  }
}
