/* phan huu lan section-categories */

.section-categories {
  background-color: #f3f8f9;
  padding: 100px 0;
}
.title {
  font-size: 36px;
  margin-bottom: 35px;
}
.categories-list {
  padding-left: unset;
}
.categories-item {
  position: relative;
  animation-duration: 3s;
  animation-name: categories-item;
  animation-fill-mode: forwards;
  padding: 13px;
}
@keyframes categories-item {
  from {
    top: 100px;
  }
  to {
    top: 0px;
  }
}
.categories-item-wrapper {
  height: 145px;
  background-color: #ffffff;
  border: 1px solid #dfe9eb;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  align-items: center;
}
.categories-icon {
  background-color: rgba(22, 170, 202, 0.2);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  transition: all 0.3s ease;
}
.categories-icon img {
  width: 55%;
  height: auto;
}
.categories-item-title {
  margin-bottom: 5px;
}
.categories-item-title {
  font-size: 20px;
}
.categories-courses {
  color: var(--color-line-black);
}
/* HOVER */
.categories-item-wrapper:hover {
  background-color: var(--color-blue-bg);
}
.categories-item-wrapper:hover .categories-icon {
  /* scale: 0.9; */
  background-color: #ffffff;
  border-color: var(--color-blue-bg);
  transition: all 0.3s ease;
}
.categories-item-wrapper:hover .categories-icon > img {
  scale: 0.9;
}
.categories-item-wrapper:hover .categories-text-hover {
  color: #ffffff;
}

/* UI Desktop */
@media screen and (min-width: 1024px) {
}

/*UI Desktop and UI Tablet */
@media screen and (max-width: 992px) {
  /* have-must */
  .section-categories {
    padding: 60px 0;
  }
  .title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .categories-item-title {
    font-size: 18px;
  }
}

/* UI Tablet */
@media screen and (max-width: 768px) {
  /* have-must */
  .title {
    font-size: 30px;
  }
  .categories-item-wrapper {
    padding: 20px;
  }
  .categories-icon {
    margin-right: 15px;
  }
}

/* UI Phone */
@media screen and (max-width: 480px) {
  /* have-must */
  .title {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .categories-item-wrapper {
    padding: 15px;
  }
  .categories-icon {
    margin-right: 10px;
  }
}
