
:root {
  --color-black: #111111;
  --color-line-black : #505050;
  --color-blue-bg: #226FB7;
}

/* reset css */

* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 28px;
}

ul,li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  display: block;
  max-width: 100%;
}

img {
    display: block;
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6 {
  color: var(--color-black);
  margin: 0 0 26px;
  line-height: 1.2;
}


/* common font-text */

.text-regular {
  font-weight: 400;
}
.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}


/* phan huu lan section-categories */

.section-categories {
  background-color: #F3F8F9;
  padding: 100px 0;
}
.title {
  font-size: 36px;
  margin-bottom: 35px;
}
.categories-list {
  padding-left: unset;
}
.categories-item {
  position: relative;
  animation-duration: 3s; 
  animation-name: categories-item; 
  animation-fill-mode: forwards;
  padding: 13px;
}
@keyframes categories-item {
  from {top: 100px;}
  to {top: 0px;}
}
.categories-item-wrapper {
  height: 145px;
  background-color: #FFFFFF;
  border:1px solid #dfe9eb;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  align-items: center;
}
.categories-icon {
  background-color: rgba(22, 170, 202, 0.2);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  transition: all 0.3s ease;
}
.categories-icon img {
  width:55%; 
  height: auto;
}
.categories-item-title {
  margin-bottom: 5px;
}
.categories-item-title {
  font-size: 20px;
}
.categories-courses {
  color: var(--color-line-black);
}
/* HOVER */
.categories-item-wrapper:hover {
  background-color: var(--color-blue-bg);
}
.categories-item-wrapper:hover .categories-icon {
  /* scale: 0.9; */
  background-color: #FFFFFF;
  border-color: var(--color-blue-bg);
  transition: all 0.3s ease;
}
.categories-item-wrapper:hover .categories-icon>img {
  scale: 0.9;
}
.categories-item-wrapper:hover .categories-text-hover {
  color: #FFFFFF;
}


/* UI Desktop */
@media screen and (min-width: 1024px) {
  
  

}


/*UI Desktop and UI Tablet */
@media screen and (max-width: 992px) {

  /* have-must */
  .section-categories {
    padding: 60px 0;
  }
  .title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .categories-item-title {
    font-size: 18px;
  }
}

/* UI Tablet */
@media screen and (max-width: 768px) {
  
  /* have-must */
  .title {
    font-size: 30px;
  }
  .categories-item-wrapper {
    padding: 20px;
  }
  .categories-icon {
    margin-right: 15px;
  }
  
}

/* UI Phone */
@media screen and (max-width: 480px) {

  /* have-must */
  .title {
    font-size: 25px;
  }
  .categories-item-wrapper {
    padding: 15px;
  }
  .categories-icon {
    margin-right: 10px;
  }
}


/* Phan Huu Lan Have-Must */

