
:root {
  --color-black: #111111;
  --color-line-black : #505050;
  --color-blue-bg: #226FB7;
}

/* reset css */

* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 28px;
}

ul,li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  display: block;
  max-width: 100%;
}

img {
    display: block;
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6 {
  color: var(--color-black);
  margin: 0 0 26px;
  line-height: 1.2;
}


/* common font-text */

.text-regular {
  font-weight: 400;
}
.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

